body {
  background-color: white;
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8em;
  color: #012840;
  font-family: Open Sans;
  width: 100%;
}

.introduction {
  background-image: url(images/firstimage.jpg);
  min-height: 700px;
  background-size: cover;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 300px;
}

.introtext {
  border-right: .80em solid white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(100, end), blink-caret 0.75s step-end infinite;
  color: white;
  text-align: left;
  letter-spacing: 0.12em;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  margin-left: 50px;
  width: 40%;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* Keyframe animation for cursor blinking effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

.text1,
.ptext1 {
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.ptext1 {
  font-size: 25px;
}

ul {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}

li {
  text-align: justify;
  opacity: 0.8;
}

.topic1,
.topic2,
.topic3,
.topic4,
.topic5 {
  height: 350px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
}

.topic1 {
  background-image: url(images/secondimage.jpg);
}

.topic2 {
  background-image: url(images/thirdimage.jpg);
  background-size: contain;
  background-color: #012840;
}

.topic3 {
  background-image: url(images/eightimage.jpg);
}

.topic4 {
  background-image: url(images/nineimage.jpg);
}

.topic5 {
  background-image: url(images/elevenimage.jpg);
}

.titltopic1,
.titltopic2,
.titltopic3,
.titltopic4,
.titltopic5 {
  width: 20%;
  font-size: 25px;
  line-height: 30px;
  opacity: 0.8;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 8px 5px;
  object-fit: cover;
  opacity: 0.8;
}

.titltopic1,
.gptpage {
  background-color: white;
  color: #03738C;
}

.titltopic2,
.gptzeropage {
  background-color: #f1467f;
}

.titltopic3,
.elctcar {
  background-color: rgb(70, 69, 69);
  color: #16F2F2;
}

.titltopic4,
.txtimg {
  background-color: rgb(255, 251, 0);
}

.titltopic5,
.farm {
  background-color: #03738C;
  color: white;
}

.gptpage,
.gptzeropage,
.elctcar,
.txtimg,
.farm {
  margin-left: 125px;
  font-size: 20px;
  padding: 5px 5px;
  width: 120px;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.gptpage:hover,
.gptzeropage:hover,
.elctcar:hover,
.txtimg:hover,
.farm:hover {
  margin-left: 120px;
  font-size: 22px;
  padding: 5px 5px;
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
}

.txtopic1,
.txtopic2,
.txtopic3,
.txtopic4,
.txtopic5 {
  background-color: #03738C;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.txtopic2,
.txtopic4 {
  background-color: white;
  color: #012840;
}

.desctopic1,
.desctopic2,
.desctopic3,
.desctopic4,
.desctopic5 {
  margin-left: 50px;
  margin-right: 50px;
}

.gptlink,
.gptzerolink,
.txtimglink {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: Open Sans;
}

.gptlink {
  color: #012840;
}

.gptzerolink {
  color: #012840;
}

.txtimglink {
  color: #012840;
}

.gptlink:hover,
.gptzerolink:hover,
.txtimglink:hover {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 22px;
  font-family: Open Sans;
  transition: 0.2s;
}

.gptlink:hover {
  color: white;
}

.gptzerolink:hover {
  color: #f1467f;
}

.txtimglink:hover {
  color: rgba(255, 187, 0, 0.822);
}